body {
    margin-top: 4em;
}

.container {
    display: flex;
}

.datePickerContainer {
    display: inline-block;
    height: 100%;
}

.tableRows {
    display: inline-block;
    margin-left: 0.5em;
    height: auto;
    overflow: auto;
    width: auto;
}