<head>
    <link href="visit-list.component.css" rel="stylesheet" type="text/css">
</head>


<body>
    <div class="container">

        <div class="datePickerContainer">
            <ngb-datepicker #dp [(ngModel)]="model" (ngModelChange)="change($event)" (navigate)="date = $event.next"></ngb-datepicker>
            <hr/>
            <button class="btn btn-outline-primary" (click)="selectToday()">Vandaag</button>
        </div>
        <div class="tableRows">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Patiënt</th>
                        <th scope="col">Visitebriefje</th>
                        <th scope="col">Adres</th>
                        <th scope="col">Tijd</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let visit of visits$">
                        <td>{{ visit.patient }}</td>
                        <td><a routerLink="/visitcard/{{visit.visitCard}}">Ga naar visitebriefje</a></td>
                        <td>{{ visit.destinationAddress }}</td>
                        <td>{{ visit.date | date: 'shortTime'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>