.login-title {
  margin: 8px auto;
}

.login-phase-content {
  margin: 8px auto;
  text-align: left;
  width: 90%;
}

.login-form {
    margin: 16px auto;
}

.login-input-title {
    margin: 4px auto;
}