<div class="login-phase-content">
    <h3 class="login-title">Login</h3>
    <form #loginform="ngForm" (ngSubmit)="onSubmit()" action="/action_page.php" method="post">
        <div class="login-form">
            <div>
                <label for="username" class="login-input-title">
                    <h6>Username</h6>
                </label>
                <input id="usernameid" type="text" placeholder="Enter Username" name="username" class="login-input" required>
            </div>      
            <div>   
                <label for="password" class="login-input-title">
                    <h6>Password</h6>
                </label>
                <input id="passwordid" type="password" placeholder="Enter Password" name="password" class="login-input" required>
            </div>
        </div>
        <button type="submit" class="button">Login</button>
    </form>
</div>