<body>
    <form #medicineform="ngForm" name="form" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <label for="name">Voer de naam van het medicijn in</label>
            <select class="form-control" id="medicationTitle" name="medicationTitle" required>
                <option value="" selected disabled hidden>Kies een optie</option>
                <option *ngFor="let medicine of medicineList$ | async" value={{medicine._id}}>
                    {{medicine.title}}
                </option>
            </select>

        </div>
        <br>

        <div class="form-row">
            <label for="dose">Voer de dosering van het medicijn in (vb: 2 maal daags)</label>
            <input type="String" class="form-control" id="addition" name="addition" required>
        </div>
        <br>

        <div class="form-row">
            <label for="dose">Voer de Concentratie van het medicijn in</label>
            <input type="String" class="form-control" id="concentration" name="concentration" required>
        </div>

        <div class="buttonContainer">
            <div class="singleButton">
                <input (click)="onClickMg()" class="form-control" id="selectorBtnMg" name="type" type="radio" required>
                <label for="selectorBtnMg">Mg</label>
            </div>
            <div class="singleButton">
                <input (click)="onClickMl()" class="form-control" id="selectorBtnMl" name="type" type="radio" required>
                <label for="selectorBtnMl">Ml</label>
            </div>
        </div>
        <br>

        <div class="form-row">
            <label for="duration">Voeg in hoelang de patient het medicijn moet slikken</label>
            <input type="String" class="form-control" id="duration" name="duration" required>
        </div>
        <br>

        <div class="buttonContainer">
            <button type="submit" class="btn btn-primary">Toevoegen</button>
            <button type="cancel" class="btn btn-danger" routerLink="/medicine/list/{{id}}">Cancel</button>
        </div>

    </form>
</body>