body {
    margin-top: 4em;
}

.buttonContainer {
    display: flex;
    margin: 0.3em auto auto 0em;
    width: auto;
    height: auto;
}

.buttonContainer .singleButton {
    margin-right: 0.5em;
    text-align: center;
}

.buttonContainer button {
    margin-right: 0.3em;
    text-align: center;
}

