<body>
    <h1>Alle episodes van de huidige patiënt</h1>
    <ul class="episodes">
        <li class="li-header badge">
            <p class="date-header">Datum</p>
            <p class="comment-header">Episode</p>
        </li>
        <li *ngFor="let episode of episodes$ | async" class="li-item">
            <div class="badge">
                <p>{{episode.date | date: 'mediumDate'}}</p>
            </div>
            <div class="episode-comment">
                <p>S: {{episode.s}}</p>
                <p>O: {{episode.o}}</p>
                <p>E: {{episode.e}}</p>
                <p>P: {{episode.p}}</p>
            </div>
        </li>
    </ul>
    <div class="buttonContainer">
        <button class="btn btn-primary" routerLink="/episodes/create/{{patientId}}">Voeg episode toe</button>
        <button *ngIf="episodes$ | async" class="btn btn-danger" routerLink="/visitcard/{{visitCard$._id}}">Ga terug</button>
    </div>

</body>