<body *ngIf="visitCard$">
    <h1>Welkom op de patiënt pagina</h1>
    <hr>
    <br>
    <div class="flexbox">

        <div style="width: 100%;">
            <p> Op deze pagina kunt u informatie over de patient opvragen en informatie aan de patient toevoegen</p>
            <p> Voor informatie over medicatie en episodes zie de onderzijde van de pagina</p>
            <br>
            <p>Deel deze informatie alleen met de patient en gemachtigde personen</p>

        </div>
        <div class="card" style="width: 16rem">
            <div class="d-flex justify-content-center align-items-center">
                <img src="../../../assets/person.png" class="card-img-top rounded-circle border profile-pic" alt="..." />
            </div>
            <div class="card-body">
                <h5 class="card-title">Patient: {{visitCard$.patientName}}</h5>

            </div>

        </div>
    </div>
    <hr>
    <br>

    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../../../assets/medicine.jpg" alt="Card image cap" style="height: 50%;">
            <div class="card-body">
                <br>
                <h5 class="card-title">Medicatie</h5>
                <p class="card-text">Door op onderstaande knoppen te drukken is het mogelijk om een overzicht van medicijnen op te vragen of direct een nieuw medicijn toe te voegen aan de patiënt.</p>
                <br>
                <button type="cancel" class="button large" routerLink="/medicine/list/{{visitCard$.patient}}">Overzicht medicijnen</button>
                <button style="margin-left: 5%;" type="cancel" class="button large" routerLink="/medicine/add/{{visitCard$.patient}}">toevoegen</button>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/clipboard.jpg" alt="Card image cap" style="height: 50%;">
            <div class="card-body">
                <br>
                <h5 class="card-title">Episodes</h5>
                <p class="card-text">Door op onderstaande knoppen te drukken is het mogelijk om episodes van de patient te bekijken of een nieuw episode toe te voegen.</p>
                <br>
                <button type="cancel" class="button large" routerLink="/episodes/list/{{visitCard$.patient}}">Overzicht episodes</button>
                <button style="margin-left: 5%;" type="cancel" class="button large" routerLink="/episodes/create/{{visitCard$.patient}}">toevoegen</button>
            </div>
        </div>

    </div>

    <hr>

</body>