<body id="bodyId">
    <form #episodeform="ngForm" name="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-row">
            <label for="date">Voer de datum in</label>
            <input type="date" class="form-control" id="date" name="date" placeholder=currentDate$ required>
        </div>
        <br>

        <div class="form-row">
            <label for="s">Vul hier Subjectief in</label>
            <input type="String" class="form-control" id="s" name="s">
        </div>
        <br>

        <div class="form-row">
            <label for="o">Vul hier Objectief in</label>
            <input type="String" class="form-control" id="o" name="o">
        </div>
        <br>
        <div class="form-row">
            <label for="e">Vul hier de Evaluatie in</label>
            <input type="String" class="form-control" id="e" name="e">
        </div>
        <br>
        <div class="form-row">
            <label for="p">Vul hier het Plan in</label>
            <input type="String" class="form-control" id="p" name="p">
        </div>
        <br>

        <div class="buttonContainer">
            <button type="submit" class="btn btn-primary" id="singleButton">Toevoegen</button>
            <button type="cancel" class="btn btn-danger" id="singleButton" routerLink="/episodes/list/{{id}}">Cancel</button>
        </div>

    </form>

</body>