<div class="login-phase-content">
    <h3 class="login-title">Two Factor Authentication</h3>
    <form #loginform="ngForm" (ngSubmit)="onSubmit()" action="/action_page.php" method="post">
        <div class="login-form">
            <div>
                <label for="username" class="login-input-title">
                    <h6>Code</h6>
                </label>
                <input id="code" type="text" placeholder="Enter Code" name="code" class="login-input" required>
            </div>      
        </div>
        <button type="submit" class="button">Verify</button>
    </form>
</div>