.login-title {
    margin: 8px auto;
  }
  
  .login-phase-content {
    margin: 8px auto;
    text-align: left;
    width: 90%;
  }
  
  .login-form {
      margin: 16px auto;
  }
  
  .login-input-title {
      margin: 4px auto;
  }
  
  .login-input {
      width: 100%;
      padding: 5.5px;
      border: 1px solid #C6C6C6;
      color: #010005;
      font-size: 15px;
  }