<nav class="navbar navbar-expand-md fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">PharmaPartners</a>
        <a class="navbar-brand" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
            <ul class="navbar-nav mr-auto">

            </ul>


            <!-- Start if not logged in -->
            <ul *ngIf="!(loggedInUser$ | async)" class="navbar-nav">
                <!-- Temporary routing for episodes -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" [routerLinkActive]="['active']">Register</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/login"
            [routerLinkActive]="['active']"
            >Login</a
          >
        </li>
      </ul>
      <!-- End if not logged in -->

      <!-- Start if logged in -->
        <li *ngIf="loggedInUser$ | async as user" class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-link" id="dropdownMenu1" ngbDropdownToggle>
              {{ user.username }}
            </button>
            <div
              ngbDropdownMenu
              class="dropdown-menu"
              aria-labelledby="dropdownMenu1"
            >
              <button
               type="button"
                class="dropdown-item"
                (click)="logout()"
              >
                Uitloggen
              </button>
            </div>

          </div>
        <!-- End if logged in -->

    </div>
    </div>
</nav>