<body>
    <h1>In deze lijst ziet u alle medicijnen die de patiënt gebruikt</h1>
    <ul class="medication">
        <li class="li-header badge">
            <p class="date-header">Medicatie</p>
            <p class="comment-header">Gebruiksinformatie</p>
        </li>
        <li *ngFor="let medicine of medicine$ | async" class="li-item">
            <div class="badge">
                <p>{{medicine.medicationTitle}}</p>
            </div>
            <div class="medication-comment">
                <p>Gebruikshoeveelheid: {{medicine.addition}}</p>
                <p>Concentratie: {{medicine.concentrations}}</p>
                <p>Duur: {{medicine.duration}}</p>
            </div>
        </li>
    </ul>

    <div class="buttonContainer">
        <button class="btn btn-primary" routerLink="/medicine/add/{{patientId}}">Voeg medicatie toe</button>

        <button *ngIf="medicine$ | async" class="btn btn-danger" routerLink="/visitcard/{{visitCard$._id}}">Ga terug</button>
    </div>


    <br>

</body>