.medication {
    margin: auto;
    list-style-type: none;
    padding: 0;
    width: 100%;
    align-content: center;
    align-self: center;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: center;
}

.medication li {
    position: relative;
    cursor: pointer;
    background-color: #efefef;
    margin: .5em 0em .5em 0em;
    height: auto;
    min-height: 3em;
    font-size: 1em;
    border-radius: 4px;
}

.medication a {
    color: #333;
    text-decoration: none;
    position: relative;
    display: block;
    width: 100%;
}

.medication a:hover {
    color: #efefef;
    left: .1em;
    background-color: #003E79;
}

.medication .badge {
    display: inline-block;
    /* font-size: small; */
    padding: 1.5em 1em 1.5em 0.5em;
    background-color: #efefef;
    position: relative;
    vertical-align: center;
    font-size: 1em;
    left: -1px;
    height: 100%;
    min-height: 3em;
    min-width: 10%;
    max-width: 15%;
    text-align: center;
    overflow: auto;
    margin: auto auto auto .5em;
    border-radius: 4px 0 0 4px;
}

.badge p {
    height: 100%;
    text-align: center;
}

.medication .medication-comment {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    border-left: 1px solid black;
    position: relative;
    min-width: 80%;
    text-align: left;
    max-width: 100%;
}

.medication .date-header {
    display: inline-block;
    padding-right: 15%;
    color: white;
    margin-right: .8em;
}

.medication .comment-header {
    display: inline-block;
    padding-right: 15%;
    color: white;
}

.medication .li-header {
    display: block;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #003E79;
    color: white;
    max-width: 100%;
    align-content: left;
    text-align: left;
    border-radius: 4px;
    margin: .5em auto .5em auto;
}

.li-item {
    display: flex;
}

body {
    margin-top: 4em;
}

.buttonContainer {
    display: flex;
    margin: 0.3em auto auto auto;
}

.buttonContainer button {
    margin-right: 0.3em;
    margin-bottom: 0.5em;
}