/* Page styling */

.login-content-container {
    display: inline-block;
    width: 100%;
}

.login-content {
    width: 400px;
    margin: 60px auto;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid var(--color-blue-33);
}

.login-container {
    min-height: 280px;
    overflow: hidden;
}

.login-img {
    display: block;
    width: 60%;
    margin: 8px auto;
}

.login-devider {
    margin: 8px auto;
}


/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Extra styles for the cancel button */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #ed1eed;
}


/* Center the image and position the close button */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.image {
    width: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ed1eed;
    cursor: pointer;
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.loginsummonbutton {
    margin: 0;
    position: fixed;
    width: 1000px;
    top: 50%;
    left: 48%;
    /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
    -ms-transform: translateX(-47%);
    transform: translateX(-47%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}