<div class="login-content-container">
    <div class="login-content">
        <img src="../../../assets/loginlogo.jpg" alt="imgcontainer" class="login-img">
        <hr class="login-devider">
        <alert></alert>
        <div class="login-container">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </div>
</div>