/* You can add global styles to this file, and also import other style files */
/* Variables */
:root {
  --color-pink: #ed1e79;
  --color-blue-100: #003E79;
  --color-blue-66: #004a91;
  --color-blue-33: #30719e;
  --color-blue-0: #cbe5fd;
  --color-grey-100: #666666;
  --color-grey-66: #989898;
  --color-grey-33: #dbdbdb;
  --color-grey-0: #efefef;
  --color-black: #010005;
  --color-white: #ffffff;
}

/* Page styling */
html {
  height: 100%;
}

body {
  min-height: 100%;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Titles & Headings */
h1,h2,h3,h4,h5,h6,p,pre {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  font-weight: 300;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 16px auto;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  font-weight: 700;
}

p {
  color: var(--color-black);
  font-size: 15px;
}

hr {
  height: 2px;
  color: #003E79;
  background-color: #003E79;
}


/* Buttons */
.button {
  min-width: 140px;
  height: 35px;
  padding: 0 8px;
  border: 1px solid var(--color-blue-33);
  border-radius: 3px;
  text-align: center;
  color: var(--color-blue-33);
  font-size: 15px;
  font-weight: 600;
}

.button.large {
  height: 45px;
  font-size: 17px;
}

.button.small {
  height: 30px;
  font-size: 13px;
}

.button:focus {
  background-color: var(--color-blue-33);
}

.button:hover {
  background-color: #004A91;
}

.button.active {
  background-color: #064f9e;
}

.button:disabled {
  background-color: #CFCFCF;
  color: #989898;
}

.button:focus, .button:hover, .button.active, .button:disabled {
  border: none;
}

.button:focus, .button:hover:not(:disabled), .button.active {
  color: var(--color-white);
}

/* Input */
input {
  width: 100%;
  padding: 5.5px;
  border: 1px solid #C6C6C6;
  outline: none;
  color: #010005;
  font-size: 15px;
}

input:focus {
  border-color: #3d6c99;
}

input.success {
  border-color: #1ab394
}

input.error {
  border-color: #c1272d;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  position: absolute;
  width: 60%;
  margin: 0 auto;
  background-color: var(--color-white);
  border: 1px solid #999999;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.7);
}

.modal > hr {
  border-color: #999999 
}